apiVersion: v1
kind: Secret
metadata:
  name: backup-pg-secret
type: Opaque
stringData:
  secret.yml: |
    storage:
      {% if pg_backup_config.storage.s3 is defined %}s3:
        endpoint: {{ pg_backup_config.storage.s3.endpoint }}
        accessKey: {{ pg_backup_config.storage.s3.accessKey }}
        secretKey: {{ pg_backup_config.storage.s3.secretKey }}
        bucket: {{ pg_backup_config.storage.s3.bucket }}
{% endif %}
    databases:
      {% for database in pg_backup_config.storage.databases %}- {% for key, value in database.items() %}{% if key != "host" %}  {%endif%}{{ key }}: {{ value }}  
      {% endfor %}{% endfor %}